{% extends "base.html" %} {% block content %}
<h3>Управление типами продуктов</h3>
<table class="table style=" width:100%>
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название продукта</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

    <form method="post" action="{{ url_for( 'manage_product_type') }}">
    <tr>
        <th scope="row"> </th>
        <td> <input class="form-control" name="prod_type_name" placeholder="Введите название продукта" size = '45'></td>
        <td>
        <input class="btn btn-outline-secondary" type='submit' name = 'submit' value = 'Добавить'>
        </td>
    </tr>
    </form>

    {% for i in range(len) %}
    <form method="post" action="{{ url_for( 'manage_product_type') }}">
        <input type="hidden" name="id" value="{{product_types[i][0]}}">
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td> <input class="form-control" name="prod_type_name" value="{{ product_types[i][1] }}" size = '45'></td>
            <td>
            <input  class="btn btn-outline-secondary" type='submit' name = 'submit' value = 'Сохранить изменения' >
            <input class="btn btn-outline-danger" type='submit' name = 'submit' value = 'Удалить' >
            </td>
        </tr>
    </form>
    {% endfor %}

    </tbody>
</table>{% endblock %}